body {
    margin: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
    background: #fff;
}

body a:hover {
    text-decoration: none;
}

body a {
    outline: none;
    text-decoration: none;
}

header {
	position: relative;
	z-index: 3;
}

.logo_wthree a {
	color: #fff;
    position: absolute;
    top: 15px;
    display: block;
    left: 48%;
    width: auto;
}

.logo_wthree a i {
    font-size: 4em;
}

.menu-link {
	width: 80px;
	height: 60px;
	position: fixed;
	top: 20px;
	bottom: 15px;
	left: 10px;
	cursor: pointer; 
}

.animated-icon {
	position: relative;
	margin: 0px;
}

.span1 {
	background-color: #dc143c;
	width: 33px;
	height: 6px;
	border-radius: 2px;
	margin: 9px;
	display: block;
	position: absolute;
	top: 0;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;	
	z-index: 2;
}

.span2 {
	background-color: #ffc107;
	width: 44px;
	height: 6px;
	border-radius: 2px;
	margin: 9px;
	display: block;
	position: absolute;
	top: 15px;
	-webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    z-index: 1;
}

.span3 {
	background-color: #dc143c;
	width: 33px;
	height: 6px;
	border-radius: 2px;
	margin: 9px;
	display: block;
	position: absolute;
	top: 30px;
	-webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    z-index: 2;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 100px;

}

#menu li  {
	transition: all 0.4s ease;
    padding: 20px 0;
}

#menu li a {
	font-size: 20px;
    color: #FEFEFE; 
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#menu li a:hover {
	color: #ffc107;
}


section {
	position: relative;
	z-index: 2;
}

.bg1 {
	background: url(images/back.jpg) center no-repeat;
	background-size: 100% auto;
	background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.banner_text_wthree h1 {
	color: rgba(212, 209, 209, 0.59);
    letter-spacing: 1px;
}

.layer {
    background: rgba(0, 0, 0, 0.39);
    padding: 19vw 0 0;
    min-height: 89.7vh;
}

#text {
	color: #ffc107;
	width: 800px; 
	height: 60px;
	font-size: 30px;
	border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}


.list-inline-item a {
    margin-top: 20px;
	letter-spacing: 2px;
    -webkit-transition: .40s ease-in-out;
    -moz-transition: .40s ease-in-out;
    -o-transition: .40s ease-in-out;
    transition: .40s ease-in-out;
}

.list-inline-item a:hover {
	border:solid 0.5px #FEFEFE;
}

.cpy-right {
    background: #110d07;	
}

/*about*/

.inner-banner-agile.about {
    background: url(images/bg.jpg) no-repeat center;
    background-size: cover;
    min-height: 300px;
}

.profile-image {
    border-radius: 1em;
    background-color: #dc143c;
    z-index: 7;
}

.profile-title1 {
    position: absolute;
    z-index: 8;
    font-weight:bold;    
    position: absolute;
    top: 90px;
    left:300px;
    color:#241711;
}

.profile-title2 {
    position: absolute;
    z-index: 50;
    font-weight:bold;    
    position: absolute;
    top: 150px;    
    left: 433px;
    color:#FEFEFE;
}

.block {
    width: 70px;
    height: 2px;
    display: block; 
    background: linear-gradient(135deg, #dba539 0%, #dc143c 100%);
}

.sec-head {
    margin: 1em 0 2em;
}

h1.sec-title-w3 {
    color: rgba(212, 209, 209, 0.59);
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.profile-info {
    width: 630px;
    height: 430px;
    border-radius: 20px;
    left: 400px;
    position: absolute;
    top: 250px;
    z-index: 9;
    background-color: #FEFEFE;   
}

.link_about a{
    -webkit-transition: .40s ease-in-out;
    -moz-transition: .40s ease-in-out;
    -o-transition: .40s ease-in-out;
    transition: .40s ease-in-out;
}

.link_about a:hover {
    color: red;
}

.content {
    padding: 40px;
}

.rounded-circle {
    border-right: 7px solid #F4B41F;
    border-bottom: 7px solid #F4B41F;
    border-radius: 50%;
    padding: 5px;
}

/*//about*/
/*skills*/

.inner-banner-agile.skillset {
    background: #dc143c url(images/bg.png) center no-repeat;
    background-size: cover;
    min-height: 300px;
}

.wthree-inner-secc {
    background: #1d1c1b;
    margin-top: -140px;
    border-radius: 30px;
    padding: 2em;
    height: 600px;
}

.wthree-inner-secc.skills-bg {
    color: #333;
    background: #1d1c1b url(images/skills.jpg) no-repeat center;
    background-size: cover;
}

.chart {
    position: relative;
    margin-top: -98px;
    padding-right: 140px;
    width: 100%; 
}

.ul1 {
    margin: 73px;
}

.ul1 li{
    list-style-type: none;
    margin-top: 38px;
}

.ul1 span {
    display: block;
    width: 100%;
    border-bottom: 1px solid #908484;
    font-weight: bold;
}

.ul2 span {
    display: block;
    width: 50px;
    font-weight: bold;
    background-color: #fefefe;
    font-size: 13px; 
    text-align: center; 
}

 .ul2 div {
    background-color: #ffc107;
    height: 1px;
    width: 25px;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    transform-origin: right top;
    transform: rotate(180deg) translate(100%);
    text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
    -webkit-box-shadow: #333 0 3px 6px;
    box-shadow: #333   -5px 3px 7px;
    position: absolute;
}

.ul2 div:hover {
    cursor: pointer;
}

.ul2 li{
    list-style-type: none;
    margin-left: 87px;
    float: left;
}

.ul2 {
    margin-top: -73px;
    margin-left: 80px;
}


/*//skills*/
/*services*/

.inner-banner-agile.services {
    background-color: #18B2EA;
    min-height: 300px;
}

.wthree-inner-sec.services-bg {
    background: rgba(255, 255, 255, 0.12);
    margin-top: -140px;
    border-radius: 30px;
    padding: 2em;

}

.services-box {
    margin-bottom: 20px;
    border-bottom: 1px dashed #dfe0e1;
    padding: 20px 0;
    transition: all 1s;
    -moz-transition: all 1s;
    /* Firefox 4 */
    -webkit-transition: all 1s;
    /* Safari and Chrome */
    -o-transition: all 1s;
    /* Opera */
}

.services-box:hover {
    background: #f2f2f2;
    transition: all 1s;
    -moz-transition: all 1s;
    /* Firefox 4 */
    -webkit-transition: all 1s;
    /* Safari and Chrome */
    -o-transition: all 1s;
    /* Opera */
}

.services-box:hover i {
    background: transparent;
    border-radius: 100px;
    color: #dc143c;
}

.icon i {
    width: 70px;
    height: 70px;
    color: #dc143c;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    font-size: 26px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.service-content {
    margin-left: 1em;
}

.service-content h4,
.service-content h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 0.5em;
}

.service-txt h5 {
    text-transform: capitalize;
    font-size: 2.5em;
    color: #000;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1.5;
}

.service-txt h5 span {
    background: #19adf2;
    font-weight: 600;
    color: #fff;
    padding: 0 4px;
}


/*//services*/
/*portfolio*/

.inner-banner-agile.banner-port {
    background: #e64c3e;
    min-height: 300px;
}

.portfolio-categ li {
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 7px 15px;
    font-size: 1em;
    margin: 0 0.4em;
    letter-spacing: 1px;
    text-transform: capitalize;
    background: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio-categ li span {
    display: block;
    color: #777;
}

.portfolio-item2 a {
    cursor: zoom-in;
}

.image-block {
    display: block;
    position: relative;
}

.portfolio-area {
    padding: 0;
}

.portfolio-area li {
    float: left;
    list-style-type: none;
    overflow: hidden;
    max-width: 261px;
}

.home-portfolio-text {
    margin-top: 10px;
}

.portfolio-categ li.active {
    background: #dc143c;
    color: #fff;
}

.portfolio-categ li.active span {
    color: #fff;
}

.w3-contentw3-slide-container {
    display: none;
    z-index: 10;
    margin-left: 300px;
    margin-top: 70px;
    position: fixed;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
} 

.slide-content {
    border-radius: 12px;
    padding: 10px;
    background-color: #fefefe;
    z-index: 9;
}

.w3-button-left, .w3-button-right  {
    margin-left: 5px;
    background-color: #333;
    border-radius: 50%;
    padding: 4px 8px;
    align-items: center;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    color: #fefefe;
}

.slideBack {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 11, 11, 0.8);
    z-index: 9;
    position: fixed;
}  

/*//portfolio*/
/*contact*/
.inner-banner-agile.contact-bg {
    background: #fbcf4a url(images/bg.png) center no-repeat;
    background-size: cover;
    min-height: 300px;
}

.wthree-inner-sec {
    background: #1d1c1b;
    margin-top: -122px;
    border-radius: 30px;
    padding: 2em;
}

.form-wrapper {
    background-color: #fff;
    color: #34495e;
    margin: 10px 0;
    padding: 3em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

/* TEXT INPUTS */

.text-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #1d1c1b;
    margin: 0;
    padding: 5px 15px;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #34495e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* CHECKBOX INPUTS */

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+.checkbox-label {
    background-color: #dba539;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.checkbox-label {
    display: block;
    padding: 30px 0;
    border: 1px solid #d4d4d4;
    color: #34495e;
    cursor: pointer;
}

.text,
.icon {
    display: block;
    padding: 5px 0;
    text-align: center;
}

/* RANGE INPUT */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #34495e;
    margin-top: -4px;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #34495e;
    margin-top: -4px;
}

input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #34495e;
    margin-top: -4px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

/* TEXTAREA */

.message h2 {
    background-color: #1d1c1b;
    color: #fff;
    font-size: 1em;
    padding: 10px 15px;
}

#t1 {
    width: 100%;
    height: 100px;
    border: 1px solid #1d1c1b;
    margin: 0;
    padding: 15px;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #34495e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#t1:focus {
    outline: none;
}

/* SUBMIT BUTTON */

.submit {
    border: 1px solid #1d1c1b;
    color: #000;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    padding: 8px 25px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.submit:hover {
    background-color: #1d1c1b;
    color: #fff;
    padding: 0.5em 3em;
}


/*//contact*/

@media screen and (max-width: 1366px) {
    .profile-title1 {
        font-size: 4em;
    }
    .profile-title2 {
    font-size: 4em;
}
}

@media screen and (max-width: 1280px) {
    #menu ul {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1199px) {
    .profile-info {
        width: 600px;
        height: 400px;
        left: 250px;
    }
    .stat {
        font-size: 15px;
    } 
    .ul2 div {
        width: 25px;
    }

    .ul2 li {
        margin-left: 60px;
    }

    .ul2 {
        margin-top: -73px;
        margin-left: 87px;
    }
    .chart {
        position: relative;
        margin-top: -98px;
        padding-right: 102px;
        width: 100%;
    }
    .w3-contentw3-slide-container {
        width: 600px;
        margin-top: 180px;
    }
    .mySlides {
        width: 580px;
    }
}

@media screen and (max-width: 1080px) {
    .profile-title1 {
        font-size: 3.8em;
        top: 90px;
    }
    .profile-title2 {
        font-size: 3.8em;
        top: 150px;
    }
    .w3-contentw3-slide-container {
        margin-left: 173px;
        margin-top: 446px;
    }
}

@media screen and (max-width: 1024px) {
    h1.sec-title-w3 {
        color: rgba(212, 209, 209, 0.59);
        font-size: 2.5em;
    }
    .service-txt h5 {
        font-size: 2em;
        letter-spacing: 0px;
    }
    .w3-contentw3-slide-container {
        margin-left: 173px;
        margin-top: 446px;
    }
}

@media screen and (max-width: 991px) {
    .inner-banner-agile {
        min-height: 260px;
    }
    .w3-contentw3-slide-container {
        width: 530px;
        margin-top: 279px;
        margin-left: 220px;
    }
    .mySlides {
        width: 507px;
    }
    #wrapper {
        width: 80%;
    }
    .profile-info {
        width: 600px;
        height: 400px;
        left: 250px;
    }
    .service-txt h5 {
        font-size: 1.8em;
    }
    .portfolio-categ li {
        padding: 7px 13px;
        margin: 0 0.4em 0 0;
    }
    .portfolio-area li {
        max-width: 208px;
    }
    .profile-info {
        width: 600px;
        height: 350px;
        left: 80px;
        font-size: 13px;
    }
    .ul2 div {
        width: 25px;
    }
    .ul1 {
        margin-left: 30px;
    }

    .ul2 li {
        margin-left: 40px;
    }

    .ul2 {
        margin-top: -73px;
        margin-left: 56px;
    }
    .chart {
        position: relative;
        margin-top: -98px;
        padding-right: 0;
        width: 620px;
    }
}

@media screen and (max-width: 900px) {
    h1.sec-title-w3 {
        letter-spacing: 1px;
    }
    .checkbox-label {
        padding: 15px 0;
    }
    .icon i {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .layer {
        padding: 26vw 0 0;
    }
    .agile_banner.bg1 {
        background-position: right;
    }
}

@media screen and (max-width: 800px) {
    .profile-title1 {
        font-size: 3.2em;
        top: 90px;
    }
    .profile-title2 {
        font-size: 3.2em;
        top: 150px;
    }
    .banner_text_wthree h1,
    .banner_text_wthree h2 {
        letter-spacing: 1px;
        font-size: 2.2em;
    }
}

@media screen and (max-width: 768px) {
    #text {
        font-size: 2em;
    }
    .w3-contentw3-slide-container {
        width: 530px;
        margin-top: 279px;
        margin-left: 123px;
    }
    .mySlides {
        width: 507px;
    }
    .profile-title1 {
        left:250px;
        font-size: 3em;
        top: 90px;
    }
    .profile-title2 {
        left:375px;
        font-size: 3em;
        top: 150px;
    }   
    .profile-info {
        width: 542px;
        height: 450px;
        left: 60px;
        font-size: 17px;
    } 
    .chart {
        position: relative;
        margin-top: -42px;
        padding-right: 0;
        /*width: 868px;*/
        width: 979px;
    }
    .ul2 div {
        width: 25px;
    }
    .ul1 {
        /*margin-left: -42px;*/
        margin-left: 64px;
    }
    .ul1 span {
        width: 56%;
    }

    .ul2 li {
        margin-left: 34px;
    }

    .ul2 {
        margin-top: -73px;
        /*margin-left: -20px;*/
        margin-left: 80px;
    }    
}

@media screen and (max-width: 736px) {
    h1.sec-title-w3 {
        font-size: 2.2em;
    }
    .profile-title1 {
        left:230px;
        font-size: 3em;
        top: 90px;
    }
    .profile-title2 {
        left:355px;
        font-size: 3em;
        top: 150px;
    }
    .portfolio-categ li {
        margin: 0.4em;
        font-size: 0.9em;
    }
    .portfolio-area li {
        max-width: 148px;
    }
    .layer {
        padding: 34vw 0 0;
    }
}

@media screen and (max-width: 667px) {
    .inner-banner-agile {
        min-height: 220px;
    }
    .wthree-inner-sec {
        margin-top: 70px;
        padding: 1.5em;
    }
    .service-txt h5 {
        font-size: 1.6em;
        margin-top: 2em;
    }
    .profile-title1 {
        left:190px;
        font-size: 3em;
        top: 50px;
    }
    .profile-title2 {
        left:290px;
        font-size: 3em;
        top: 110px;
    }
    .profile-info {
        width: 460px;
        height: 420px;
        top: 220px;
        left: 2px;
        font-size: 17px;
    } 
}

@media screen and (max-width: 640px) {
    .profile-title1 {
        left:190px;
        font-size: 3em;
        top: 50px;
    }
    .profile-title2 {
        left:290px;
        font-size: 3em;
        top: 110px;
    }
    .p
    .layer {
        padding: 40vw 0 0;
    }
}

@media screen and (max-width: 568px) {
    h1.sec-title-w3 {
        font-size: 2em;
    }
    .form-wrapper {
        padding: 2em;
    }
    .about-bot-w3l {
        padding-bottom: 3em;
    }
    .layer {
        padding: 43vw 3vw 0;
    }
    .profile-info {
        width: 490px;
        height: 490px;
        top: 200px;
        left: 2px;
        font-size: 17px;
    } 
    .profile-title1 {
        left:190px;
        font-size: 3em;
        top: 50px;
    }
    .profile-title2 {
        left:290px;
        font-size: 3em;
        top: 110px;
    }
    .stats .number .stat .txt{
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .wthree-inner-sec {
        margin-top: -98px;
        padding: 1em;
    }
    .bar-group {
        margin: 0 0 0 30px;
    }
    .wthree-inner-sec.about-bot-w3ls {
        padding-bottom: 9em;
    }
    .portfolio-area li {
        max-width: 133px;
    }
    .portfolio-categ li {
        margin: 0.4em 0.4em 0.4em 0;
    }
    .w3-contentw3-slide-container {
        width: 375px;
        margin-top: 279px;
        margin-left: 19px;
    }
    .mySlides {
        width: 348px;
    }
    #text {
        font-size: 1.8em;
        height: 90px;
    }
    .layer {
        padding: 50vw 3vw 0;
    }
    .profile-title1 {
        left:170px;
        font-size: 3em;
        top: 50px;
    }
    .profile-title2 {
        left:270px;
        font-size: 3em;
        top: 110px;
    }
    .profile-info {
        width: 416px;
        height: 470px;
        top: 180px;
        left: 0;
        font-size: 13px;
    } 
    .stats .stat .number .txt {
        font-size: 20px;
    }
    .number {
        font-size: 20px;
    }
}

@media screen and (max-width: 414px) {
    .profile-info {
        width: 351px;
        height: 470px;
        top: 180px;
        left: 0;
        font-size: 13px;
    }
    .profile-title1 {
        left:90px;
        font-size: 3em;
        top: 30px;
    }
    .profile-title2 {
        left:180px;
        font-size: 3em;
        top: 80px;
    }
    .stats .stat .number .txt {
        font-size: 17px;
    }
    .number{
        font-size: 17px;
    }
    ul.list-inline.bnr_list_w3 li a,
    a.btn-slide {
        padding: 0.5em 1em;
    }
    .row.pro-contact {
        display: block;
    }
    .wthree-inner-sec.about-bot-w3ls {
        padding-bottom: 13em;
    }
    .service-txt h5 {
        font-size: 1.4em;
    }
    .portfolio-area li {
        max-width: 167px;
    }
    .w3-contentw3-slide-container {
        width: 375px;
        margin-top: 279px;
        margin-left: 19px;
    }
    .mySlides {
        width: 348px;
    }
    .layer {
        padding: 58vw 3vw 0;
    }
    .chart {
        position: relative;
        margin-top: -42px;
        padding-right: 0;
        width: 680px;
    }
    .ul2 div {
        width: 25px;
    }
    .ul1 {
        margin-left: -50px;
    }
    .ul1 span {
        width: 56%;
    }

    .ul2 li {
        margin-left: 14px;
    }

    .ul2 {
        margin-top: -73px;
        margin-left: -19px;
    }
}

@media screen and (max-width: 384px) {
    .form-wrapper {
        padding: 1em;
    }
    .link_about {
        margin-top: 1em;
    }
    .profile-info {
        width: 260px;
        height: 470px;
        top: 160px;
        left: 0;
        font-size: 13px;
    } 
    .profile-title1 {
        left:80px;
        font-size: 2.5em;
        top: 30px;
    }
    .profile-title2 {
        left:160px;
        font-size: 2.5em;
        top: 80px;
    }
    .wthree-inner-sec.about-bot-w3ls {
        padding-bottom: 17em;
    }
    .portfolio-categ li {
        margin: 0 0.2em 0.2em 0;
        font-size: 0.85em;
    }
    .portfolio-area li {
        max-width: 304px;
    }
    .banner_text_wthree h1, .banner_text_wthree h2 {
        font-size: 1.85em;
    }
}

@media screen and (max-width: 375px) {
    .portfolio-categ li {
        letter-spacing: 0.5px;
    }
    #text {
        font-size: 1.6em;
    }
    .w3-contentw3-slide-container {
        width: 337px;
        margin-top: 279px;
        margin-left: 19px;
    }
    .mySlides {
        width: 315px;
    }
    .logo_wthree a i {
        font-size: 3.5em;
    }
    .profile-title1 {
        left:60px;
        font-size: 2.5em;
        top: 30px;
    }
    .profile-title2 {
        left:130px;
        font-size: 2.5em;
        top: 80px;
    }
    .profile-info {
        width: 313px;
        height: 470px;
        top: 160px;
        left: 0;
        font-size: 13px;
    } 
    .ul2 div {
        width: 25px;
    }
    .ul1 {
        margin-left: -58px;
    }
    .ul1 span {
        width: 56%;
    }

    .ul2 li {
        margin-left: 3px;
    }

    .ul2 {
        margin-top: -73px;
        margin-left: 3px;
    }
    .chart {
        position: relative;
        margin-top: -11px;
        padding-right: 0;
        width: 620px;
    }
}

@media screen and (max-width: 360px) {
    .profile-info {
        width: 298px;
        height: 470px;
        top: 160px;
        left: 0;
        font-size: 13px;
    }
    .chart {
        width: 605px;
    }
}

@media screen and (max-width: 320px) {
    .banner_text_wthree h1, .banner_text_wthree h2 {
        font-size: 1.6em;
    }
    #text {
        font-size: 1.4em;
    }
    #wrapper {
        width: 90%;
    }
    .profile-title1 {
        left:70px;
        font-size: 2.5em;
        top: 30px;
    }
    .profile-title2 {
        left:120px;
        font-size: 2.5em;
        top: 80px;
    }
    .wthree-inner-sec.about-bot-w3ls {
        padding-bottom: 24em;
    }
    .cpy-right {
        padding: 1rem;
    }
    .service-content h4,
    .service-content h2 {
        font-size: 18px;
    }
    .portfolio-categ li {
        letter-spacing: 0px;
    }
    .w3-contentw3-slide-container {
        width: 282px;
        margin-top: 279px;
        margin-left: 19px;
    }
    .mySlides {
        width: 263px;
    }
    ul.list-inline.bnr_list_w3 li a, a.btn-slide {
        padding: 0.5em 0.4em;
        font-size: 1em;
    }
    .layer {
        padding: 75vw 3vw 0;
        min-height: 105.6vh;
    }
    .profile-info {
        width: 259px;
        height: 470px;
        top: 160px;
        left: 0;
        font-size: 13px;
    } 
    .chart {
        position: relative;
        margin-top: -42px;
        padding-right: 0;
        width: 530px;
    }
    .ul2 div {
        width: 25px;
    }
    .ul1 {
        margin-left: -50px;
    }
    .ul1 span {
        width: 56%;
    }

    .ul2 li {
        margin-left: -4px;
    }

    .ul2 {
        margin-top: -73px;
        margin-left: -10px;
    }
}